# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vs/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.idea/.idea.CreatureCreateTest/.idea/.gitignore
/.idea/.idea.CreatureCreateTest/.idea/encodings.xml
/.idea/.idea.CreatureCreateTest/.idea/indexLayout.xml
/.idea/.idea.CreatureCreateTest/.idea/vcs.xml
