# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vs/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.idea/.idea.CreatureCreateTest/.idea/.gitignore
/.idea/.idea.CreatureCreateTest/.idea/encodings.xml
/.idea/.idea.CreatureCreateTest/.idea/indexLayout.xml
/.idea/.idea.CreatureCreateTest/.idea/vcs.xml
/Recordings
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/PivotTool.cs
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/PivotTool.cs.meta
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/PivotXYTool.cs
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/PivotXYTool.cs.meta
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/RotateTool.cs
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/RotateTool.cs.meta
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/StretchTool.cs
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/StretchTool.cs.meta
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/Tool.cs
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/Tool.cs.meta
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/TransformationTools.cs
/Assets/UltramanCreator/Scripts/Core/Runtime/Tools~/TransformationTools.cs.meta
